ul {list-style-type: none;}
body {
    /*font-family: 'Lato', sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

/* Month header */
.month {
    padding: 17px 0;
    width: 100%;
    background: #B5CD5A;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
    padding-left: 28px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
    padding-right: 20px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 0 10px;
    background: #eee;
    margin: 0;
    height: 150px;
    line-height: 110px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 19%;
    text-align: center;
    margin-bottom: 5px;
    margin-top:14px;
    font-size: 12px;
    color: #777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

ul.days {
    padding: 0 10px;
}

/*CONTAINERS*/
div#goals.container {
    padding: 55px;
    border: 1px solid lightgrey;
}

div#calendar.container {
    margin-top: 40px;
}


/*INDIVIDUAL DAYS*/

.selected {
    border-radius: 9px;
    height: 122px;
    width: 122px;
    margin: 0 auto;
    line-height: 120px;
    background-color: #ffd2567d;
}

label {
    color: #3DADD9;
}

@media(max-width: 400px) {
    li#one, li#two, li#three, li#four, li#five  {
        width: 100%;
    }

    li#select-one, li#select-two, li#select-three, li#select-four, li#select-five  {
        width: 100%;
    }

    .days {
        height: 720px;
    }

}
