/*-----------*/
/* DASHBOARD */
/*-----------*/
.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.logo {
  height: 3em;
  width: 5em;
}

.info-header {
  position: relative;
  bottom: 20vh;
  font-size: 2em;
}

nav {
  background: transparent !important;
}
.navbar-fixed {
  position: fixed !important;
}
.section {
  padding: -50px;
}

.intro-section {
  background: #636363;
  color: #fff;
}
.intro-wrapper {
  text-align: center;
}
.intro-wrapper i {
  font-size: 2em;
}

.icon-block {
  width: 300px;
}
.icon-block:hover {
  background: rgb(138, 137, 137);
}
.content-wrapper {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.content-wrapper h1 {
  font-family: "Lato", sans-serif;
}

.breadcrumb-nav {
  position: absolute;
  right: 3vw;
  top: 40vh;
  display: inline-block;
  z-index: 999;
}

.breadcrumb-nav .nav-btn {
  margin-bottom: 2em;
}

.nav-btn {
  width: 2.5em;
  height: 2.5em;
}

.fin-section {
  background-color: #b5cd5a;
}
.fin-section .content-wrapper {
  color: #fff;
}

.env-section {
  background-color: #3dadd9;
}
.env-section .content-wrapper {
  color: #fff;
}

.health-section {
  background-color: #c72a41;
}
.health-section .content-wrapper {
  color: #fff;
}

.rewards-section {
  background-color: #ffd256;
}
.rewards-section .content-wrapper {
  color: #fff;
}
